.container ul {
    list-style: disc;
    padding-left: 1px;
}

.container li {
    display: list-item;
    text-indent: -6px;
}

.container li>ul {
    list-style: circle;
    margin-left: 1em;
}

.container li>ul>li>ul {
    list-style: square;
    margin-left: 1em;
}

.container li>ul>li>ul>li>ul {
    list-style: disc;
    margin-left: 1em;
}